<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

    <h1>Plant Id</h1>
    <a href="/plants" class="butt"> View map</a>

    <div id="message"></div>
    <div class="article">
        <div class="plant-title">Rhexia mariana</div>
        <div class="scientific-name">Rhexia mariana</div>
        <img src="img/sweetspire.jpg" alt="">
        <div class="description">Species of flowering plant in the family Melastomataceae</div>
        <div class="extract">Rhexia mariana is a species of flowering plant in the Melastomataceae family known by the common names pale meadow beauty or Maryland meadowbeauty. It is native to the eastern and lower midwestern United States.</div>
        <a href="https://www.wikipedia.org/">View on Wikipedia</a>
    </div>

    

    <a href="/logout">Logout</a>
    <a href="/plants">View Map</a>

    <script src="js/idsmain.js"></script>
</body>
</html>