<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    
    <div class="faq-main-container">
        <h1>How to Use Forager / Features 🌿</h1>
        <hr>

        
    </div>
    
    <div class="bottom-nav-wrapper">
        <div class="bottom-nav">
            <a href="/plants">View Map</a>
            <a href="/logout">Logout</a>
        </div>
    </div>  

    <!-- <script src="/js/idsmain.js"></script> -->
</body>
</html>