<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Plant Id</h1>
    <div id="message"></div>
    
    <% if (locals.plant) { %>
        <span><%= plant.scientificName %></span>
        <img src="<%= plant.img%>">
    <% } %>
    <form action="/id/idPlant" enctype="multipart/form-data" method="POST">
        <div class="mb-3">
            <span>Identify plant by photo</span>
          <label for="imgUpload" class="form-label">Image</label>
          <input type="file" class="form-control" id="imageUpload" name="file">
        </div>
        <input type="text" name="knownPlantName" placeholder="Plant name if already known">
        <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
    </form>

    <a href="/logout">Logout</a>
    <a href="/plants">View Map</a>

    <script src="js/idsmain.js"></script>
</body>
</html>