<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forager</title>
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <div class="index-main-container">
        <h1 class="index-text">FORAGER</h1>
        <h2 class="index-text">Build maps while learning about plants!</h2>
        <img src="../img/walkingwoman.png" id="logo">
        <h1 class="index-text">Login or Create Account</h1>
        <a href="/login"> Login</a>
        <a href="/signup"> Signup</a>
    </div>
</body>
<h5>Photo by <a href="https://unsplash.com/@renran?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Ren Ran</a> on <a href="https://unsplash.com/s/photos/plants?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
</h5>
</html>