<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/normalize.css">
    <!-- enable leaflet maps -->
    <!-- <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
    integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
    integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
    crossorigin=""></script> -->
    <!-- <link rel="stylesheet" href="../node_modules/leaflet/dist/leaflet.css">
    <script src="../node_modules/leaflet/dist/leaflet.js"></script> -->
    <!-- <link rel="stylesheet" href="/scripts/leaflet/dist/leaflet.css">
    <script src="/scripts/leaflet/dist/leaflet.js"></script> -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css"
    integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14="
    crossorigin=""/>
    <!-- <script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"
    integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg="
    crossorigin=""></script> -->
    <script src="js/leaflet.js"></script>
</head>
<body>
   <div class="map-main-container">
    <div class="title">
      <h1>🌿</h1>
      <h1>Forager</h1>
      <h1>🌿</h1>
    </div>
    <h3>My map</h3>
        <!-- <a href = "/id" class="butt">Identify Plant</a><br/> -->
        <p id = "status"></p>
        <a id = "map-link" target="_blank"></a>
        <div id = "map"></div>
        <div id = "message"></div>
        <!-- <div id = "weathermap"></div> -->
    </div>
  
    <!-- <script src="js/coordinates.js"></script> -->
    <div class="bottom-nav-wrapper">
      <div class="bottom-nav">
        <a href="/id">Identify Plant</a>
        <a href="/logout">Logout</a>
        <a href="/plants/overview">Profile</a>
      </div>
    </div>  
    <script src="js/main.js" defer></script> 
</body>
</html>