<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <!-- enable leaflet maps -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
    integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
    integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
    crossorigin=""></script>
</head>
<body>
   <div class="main-container">
        <button id = "load-map">Load map</button><br/>
        <button id = "id-plant">Load map</button><br/>
        <p id = "status"></p>
        <a id = "map-link" target="_blank"></a>
        <div id = "map"></div>
        <div id = "message"></div>
        <div id = "weathermap"></div>
    </div>
    <!-- <form action="/plants/sendPlantImg" enctype="multipart/form-data" method="POST">
        <div class="mb-3">
          <label for="imgUpload" class="form-label">Image</label>
          <input type="file" class="form-control" id="imageUpload" name="file">
        </div>
        <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
      </form>
      <button id = "load-map">Load Map</button> -->

    <!-- <script src="js/coordinates.js"></script> -->
    <script src="js/main.js"></script> 
</body>
</html>