* {
    box-sizing: border-box;
}
html {
    background-color: hsl(120, 35%, 10%);
}
/* map needs a defined height for leaflet to work */


.plant-img {
    width: 50%;
}

h1, h3 {
    color: white;
}
/* id page */
.id-main-container {
    /* background-color: hsl(120, 35%, 10%); */
    border: 1px solid hsl(120, 8%, 42%);
    background-color: hsl(120, 35%, 15%);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40%;
    padding: 5% 2%;
}

@media only screen 
  and (min-device-width: 736px) 
   { 
    .id-main-container {
        width: 736px;
        height: 580px;
        margin-top: 1%;
    }
    .id-main-container-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

.id-main-container h1 {
    text-align: center;
}
/* body {
    display: flex;
    align-items: center;
} */

.id-main-container>* {
    /* background-color: hsla(78, 17%, 73%, 0.945); */
    /* border: 1px solid hsl(120, 8%, 42%); */
    color: white;
    width: 95%;
    margin: 3% 4%;
    padding: 2%;
    border-radius: 5px;
}
/* .nav {
    display: flex;
} */

.bottom-nav-wrapper {
    position: fixed;
    bottom: 0;
    background-color: hsla(120, 35%, 15%, 0.527);
    width: 100%;
    padding: 2%;
    z-index: 100;
   
}

.bottom-nav {
    display: flex;
    justify-content: space-around;
    width:100%;
    z-index: 100;
}

.bottom-nav > * {
    border: 1px solid hsl(120, 8%, 42%);
    border-radius: 5px;
    padding: 1.5%;
    text-decoration: none;
    color: white;
    width: 25%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type=button], button {
    background-color: hsl(120, 35%, 15%);
    color: white;
    width: 100px;
    padding: 3px;
    border-radius: 5px;
  
}

input[type=button] {
   margin-bottom: 15%;
   /* padding: 10% */
}

/* hide default file submit button */
#imageUpload {
    display: none;
}

.uploadColor {
    background-color: red;
}

hr {
    border: 0 none;
    height: 1px;
    /* Set the hr color */
    background-color: hsl(120, 8%, 42%);
    padding: 0% !important;
    width: 100% !important;
 
}

/* map page */
#map { 
    height: 500px; 
    position: relative;
    z-index: 0;
    border-radius: 5px;
    border: 2px solid rgb(40, 122, 83);
}
/* this should be styling the popups (run an inspect element to verify this classname), but isn't */
/* .leaflet-popup-content-wrapper {
    background-color: purple;
    color: black;
} */

.map-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: 140vh;
   
}

.leaflet-container {
    width: 90%;
}
/* .butt {
    background-color: orange;
    text-decoration: none;
    padding: 3%;
    border-radius: 5px;
    color: rgb(0, 0, 0);
} */

.leaflet-control-attribution, .leaflet-control {
    z-index: 0;
    position: relative;
}

.plants-nav {
    height: 40px;
}

/* display plant page */

.main-display-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(120, 35%, 15%);
    margin-top: 3%;
  
}

.article {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding-bottom: 5%;
}
.description {
    margin-bottom: 2%;
}

.extract {
    margin: 3%;
    text-align: justify;
}

.article a {
    text-decoration: none;
    border: 1px solid hsl(120, 8%, 42%);
    border-radius: 5px;
    color: white;
    padding: 8px;
    margin-bottom: 4%;
}                       

.buttons-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.buttons-container > a {
    padding: 4%;
}
.plant-img {
    max-width: 100%;
    margin: 5% 0;
    border-radius: 5px;
}

/* index page */
/* .index-main-container {
    background-image: url(../img/plantbackground.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: contain;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
} */

/* #logo {
    height: 30%;
    width: 100%;
    
} */

/* .index-text {

    color: black;
} */
.title {
    display: flex;
    justify-content: center;
}

.index-nav {
    display: flex;
    justify-content: space-evenly;

}

.index-nav > * {
    text-decoration: none;
    background-color: rgba(50, 75, 24, 0.63);
    color: white;
    padding: 4%;
    border-radius: 5px;
    border: 2px solid rgb(23, 39, 23);
}
/* signup page animation */
html {
    height:100%;
  }
  
  body {
    margin:0;
  }
  
  .bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(113, 149, 95) 50%, rgb(207, 211, 214) 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
  
  .content {
    background-color:rgba(255,255,255,.8);
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:50%;
    padding:9vmin;
    position:fixed;
    text-align:center;
    top:40%;
    transform:translate(-50%, -50%);
  }
  
  .content h1 {
    font-family:monospace;
    color:rgb(44, 59, 36);
  }

  .content h3 {
    color: black;
  }
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }

  /* signup page */
 .signup-form, .login-form > * {
    margin-top: 4%;
 }

 /* plant display page */