
/* map needs a defined height for leaflet to work */


#map { 
    height: 500px; 

}
/* this should be styling the popups (run an inspect element to verify this classname), but isn't */
.leaflet-popup-content-wrapper {
    background-color: purple;
    color: white;
}