
* {
    box-sizing: border-box;
}
html {
    background-color: hsl(120, 35%, 10%);
}
/* map needs a defined height for leaflet to work */

#map { 
    height: 500px; 

}
/* this should be styling the popups (run an inspect element to verify this classname), but isn't */
.leaflet-popup-content-wrapper {
    background-color: purple;
    color: white;
}

/* .butt {
    background-color: orange;
    text-decoration: none;
    padding: 3%;
    border-radius: 5px;
    color: rgb(0, 0, 0);
} */

.plant-img {
    width: 50%;
}


/* Display of Idenfitied Plant */
.id-main-container {
    /* background-color: hsl(120, 35%, 10%); */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.id-main-container>* {
    background-color: hsla(78, 17%, 73%, 0.945);
    margin: 3% 4%;
    padding: 2%;
    border-radius: 5px;
}
.nav {
    display: flex;
}